.banner_container{
    background: url("../../assets/banner-img.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 10px;
}